<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title #{pageTitle}
  body(style='background-color:sky-black')
    .jumbotron(style='background: #0B2161; color: white;')
      h2.text-center  #{title}
    br
    .container
       p(style.color='white') #{text1}
       br
       p #{text2}
       br
       br
       br
    .col-md-12(style='border-top: solid 1px')
      br
      
    